.color-info {
    border: 3px;
  color: black;
}

.container-fluid {
    position:relative;
    width: 90%;
}

#panels_blue {
    background-color: #A2F3FF;
	margin-bottom: 30px;
}
#panels_yellow {
  background-color: #FFE1B2;
margin-bottom: 30px;
}
#panels_green {
  background-color: #A2FFC8;
margin-bottom: 30px;

}
