h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

body {
  max-width: ;
  margin-left:;
  margin-top:;
  margin-bottom:;
  max width: ;
  background-color: #FFE1B2;
}

.container {
  position:relative;
  width: 100%;
}

.img-responsive {
  opacity: 1;
  display: block;
  position:relative;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-align: center;
  font-family: ;
  line-height: 190px;
}

.container:hover .middle {
  opacity: 1;
}

#grid-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.padding-0 {
    padding-right:0;
    padding-left:0;
    padding-top: 0;
    padding-bottom: 0;
  }

.column {
      min-width: 300px;
       display: inline-block;
       vertical-align: top;
     }
